<a href="https://colab.research.google.com/github/Adeshkachare/adesh/blob/main/python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Programming languages for Machine Learning:

*   Python
*   R

#Print function:

In [ ]:
print("Machile Learning") #This function shows some message on screen.

Machile Learning

in the above function I use machine learning in double quotes, we can also write it in single quote but we can't start with single quote and end with double quote it will give error

Now let's see concating two strings in one function

In [ ]:
print("Machine Learning" + " Projects") #here we use space before Projects becuase if we don't use, we will see msg as Machine LearningProjects

Machine Learning Projects

Printing number

In [ ]:
print(8) # there is no need to write single or double quotes while printing numbers

8

Addtion in print function

In [ ]:
print(8+4)

12

#Data Types

*   int - it contains integer
*   float - It contains floating values.
*   complex - Complex numbers in Python are a built-in data type, represented in the form a + bj, where a is the real part and b is the imaginary part, and j (or J) denotes the imaginary unit (âˆš-1).
*   boolean - Boolean values represent truth values and are denoted by the keywords True or False.
*   str - It contains String and also characted or the best I can say is group of characters

In [25]:
#Integer
num = 9
print(num)
type(num) #here type is a function which shows datatype of 9

9

int

In [26]:
#Floating point
num = 8.2
print(num)
type(num)

8.2

float

In [27]:
#Complex Number
num = 2 + 3j
print(num)
type(num)

(2+3j)

complex

In [28]:
#Boolean
num = True
print(num)
type(num)

True

bool

In [29]:
#String
num = "5"
print(num)
type(num)

5

str

In [31]:
#String Slicing
a = "Machine Learning"
print(a[1:4]) #This will show index 1 - index 3 values

ach

#Constants and Variables:
As the name suggest variables are something whose values can be change but we can not change values for constants

In [8]:
superhero = "Iron Man"
print(superhero)

Iron Man

Giving multiple values to multiple variable on one line

In [10]:
hero1, hero2, hero3 = "Iron Man", "Deadpool", "Bat-Man"
print(hero1)
print(hero2)
print(hero3)

Iron Man
Deadpool
Bat-Man

Giving one value to multiple variable

In [12]:
x = y = z = 20
print(x)
print(y)
print(z)

20
20
20

#Input Function:
This function is useful to get input from user

In [22]:
num_1 = int(input("Enter a 1st number: "))
num_2 = int(input("Enter a 2nd number: "))

print(num_1 + num_2)

Enter a 1st number: 3
Enter a 2nd number: 4
7

In [23]:
#Changing the datatype in python
num = 5
print(float(num))
print(str(num))

5.0
5

#Types of Objects:

*   Immutable - Fixed
*   Mutable - Changeable

Immutable Objects:

*   Integer
*   Float
*   String
*   Bool
*   Tuple

Mutable Objects:

*   List
*   Set
*   Dictionary

List:

In [32]:
#Lsit should be included in square brackets.
list_1 = [1,2,3,4,5]
print(list_1)
type(list_1)

[1, 2, 3, 4, 5]

list

In [33]:
#List can have multiple data types
list_1 = [1,2,3,2.9,'Marathi', True]
print(list_1)

[1, 2, 3, 2.9, 'Marathi', True]

List are mutble means changeable

In [39]:
#adding elements in a list
list_1.append(5) #in the o/p of this line u'll find that list allows duplicate values
print(list_1)

[1, 2, 3, 2.9, 'Marathi', True, 6, 6, 6, 5]

In [40]:
#Printing elements of list using their index
print(list_1[0])
print(list_1[4])

1
Marathi

In [42]:
# deleting list element
del list_1[3]
print(list_1)

[1, 2, 3, 'Marathi', True, 6, 6, 6, 5]

In [43]:
# Join two lists
list_2 = [5,6,7,8,9]
print(list_1 + list_2)

[1, 2, 3, 'Marathi', True, 6, 6, 6, 5, 5, 6, 7, 8, 9]

Tuple

In [44]:
#tuples are similar to list the only difference is they are immutable, included in round brackets
# Let's convert above list into tuple
# Appending vlues in tuple is not possible
print(tuple(list_1))

(1, 2, 3, 'Marathi', True, 6, 6, 6, 5)

Set

In [46]:
#Set should be enclosed in curly brackets
# set does not support indexing
#set does not allow repeated values
set1 = {1,2,3,4}
print(set1)
type(set1)

{1, 2, 3, 4}

set

In [47]:
#list to set
print(set(list_2))

{5, 6, 7, 8, 9}

Dictionary:

In [50]:
#It is in key-value pair
#enclosed in curly braces
my_dict = {'name' : "John","age": 30, "Country" : "India"}
print(my_dict)
type(my_dict)

{'name': 'John', 'age': 30, 'Country': 'India'}

dict

In [52]:
#in it printing value using index is not possible only possible with key
#Does not allow duplicate values
print(my_dict["name"])

John